
/* twitter用ぼかし */
#react-root{
    transition: filter 5s ease;
    filter: blur(0px);
    z-index: 0;
  }
  /* google用ぼかし */
/* #viewport{
    transition: filter 5s ease;
    filter: blur(0px);
    z-index: 0;
} */

.anime{
    width: 100%;
    height: 100%;
    transition: opacity 5s ease;
    background-color:rgba(0,0,0,1);
    opacity:0;
    position:fixed;
    z-index: 100;
  }



#lottie{
  position:fixed;
  height: 100%;
  margin:0 auto;
  z-index: 101;
}